section
	section.row
		section.col-md-2.col-xs-3
			img.img-circle(src="/ppl/" + person.national_id + ".jpg")
		section.col-md-9.col-xs-8
			h3 #{person.name} (#{person.national_id})
			p
				section=person.dob
				section=person.address
