extends layouthome

block content
	br
	br
	section.row
		section.col-md-2
			img(src='/images/asurumaa.png', style='width: 200px')
		section.col-md-3
			h1(style='color:green') Asurumaa Portal
			h6 version 1.0
	hr
	section.row
		section.col-md-8
			section.row
				a(href='/voters').col-md-3.home-task
					section
						span.glyphicon.glyphicon-th-list
					h4 Voters
				a(href='/voters/add').col-md-3.home-task
					section
						span.glyphicon.glyphicon-th-list
					h4 Add Person
				//	
					a(href='/sms').col-md-3.home-task
						section
							span.glyphicon.glyphicon-pencil
						h4 Send SMS
				a(href='/users').col-md-3.home-task
					section
						span.glyphicon.glyphicon-th-large
					h4 Users
				a(href='/user/add').col-md-3.home-task
					section
						span.glyphicon.glyphicon-plus
					h4 Add User
				a(href='/user/password').col-md-3.home-task
					section
						span.glyphicon.glyphicon-floppy-open
					h4 Change Password
				a(href='#').col-md-3.home-task
					section
						span.glyphicon.glyphicon-tasks
					h4 Access Logs
				a(href='/logout').col-md-3.home-task
					section
						span.glyphicon.glyphicon-minus-sign
					h4 Logout

		section.col-md-4
			section.jumbotron
				h4 Total Registered Users
				h3=count
				hr