extends layouthome

block content
	br
	br
	section.row
		section.col-md-2
			img(src='/images/asurumaa.png', style='width: 200px')
		section.col-md-3
			h1(style='color:green') Asurumaa Portal
			h3
				| &nbsp;
				span.label.label-danger trial version
			h6 version 1.0 beta
	hr
	section.row
		section.col-md-8
			section.row
				a(href='/voters').col-md-3.home-task
					section
						span.glyphicon.glyphicon-th-list
					h4 Voters
				a(href='#').col-md-3.home-task
					section
						span.glyphicon.glyphicon-th-list
					h4 Add/Edit voter
					h6 Only in full version
				a(href='#').col-md-3.home-task
					section
						span.glyphicon.glyphicon-pencil
					h4 Send SMS
					h6 Only in full version
				a(href='/users').col-md-3.home-task
					section
						span.glyphicon.glyphicon-th-large
					h4 Users
				a(href='#').col-md-3.home-task
					section
						span.glyphicon.glyphicon-plus
					h4 Add User
					h6 Only in full version
				a(href='#').col-md-3.home-task
					section
						span.glyphicon.glyphicon-floppy-open
					h4 Change Password
					h6 Only in full version
				a(href='#').col-md-3.home-task
					section
						span.glyphicon.glyphicon-tasks
					h4 Access Logs
					h6 Only in full version
				a(href='/logout').col-md-3.home-task
					section
						span.glyphicon.glyphicon-minus-sign
					h4 Logout

		section.col-md-4
			section.jumbotron
				h4 Total Registered Users
				h3=count
				hr