extends layout

block content
	script window.template = "voterslist";
	h1 Search for people
	img(src="/images/load.gif")#load
	br
	section.row
		section.col-md-3.col-xs-12
			input(type='text', placeholder="Search by name, id, address").form-control#voter-constituency-search
		section.col-md-3.col-xs-12			
			select#change-atoll.form-control
				option(value="All") All
				option(value="HA") HA - Thiladhunmathi Uthuruburi
				option(value="HDH") HDh - Thiladhunmathi Dhekunuburi
				option(value="SH") Sh - Miladhunmadulu Uthuruburi
				option(value="N") N - Miladhunmadulu Dhekunuburi
				option(value="R") R - Maalhosmadulu Uthuruburi
				option(value="B") B - Maalhosmadulu Dhekunuburi
				option(value="LH") Lh - Faadhippolhu
				option(value="K") K - Malé Atholhu
				option(value="AA") AA - Ari Atholhu Uthuruburi
				option(value="ADH") ADh - Ari Atholhu Dhekunuburi
				option(value="V") V - Felidhu Atholhu
				option(value="M") M - Mulak Atholhu
				option(value="F") F - Nilandhe Atholhu Uthuruburi
				option(value="DH") Dh - Nilandhe Atholhu Dhekunuburi
				option(value="TH") Th - Kolhumadulu
				option(value="L") L - Haddhunmathi
				option(value="GA") GA - Huvadhu Atholhu Uthuruburi
				option(value="GDH") GDh - Huvadhu Atholhu Dhekunuburi
				option(value="GN") Gn - Fuvahmulah
				option(value="S") S - Addu City
		section.col-md-3.col-xs-12
			select#change-island.form-control
		section.col-md-3.col-xs-12
			button.btn#find-btn Find
	br
	table.table.table-bordered.sortable
		thead
			tr
				th Name
				th ID
				th DOB
				th Address
				th Phone
				th Island
				th Party
				th Remarks
		tbody#voters-listing
	script.
		$(function(){
			var islands = {"TH":["Gaadhiffushi","Dhiyamigili","Kandoodhoo","Hirilandhoo","Buruni","Madifushi","Vilufushi","Kinbidhoo","Veymandoo","Guraidhoo","Omadhoo","Thimarafushi","Vandhoo"],"R":["Angolhitheemu","Rasgetheemu","Maduvvari","Ungoofaaru","Fainu","Inguraidhoo","Maakurathu","Kinolhas","Rasmaadhoo","Alifushi","Meedhoo","Vaadhoo","Kandholhudhoo","Hulhudhuffaaru","Innamaadhoo"],"HDH":["Maavaidhoo","Kurinbi","Nolhivaran","Kunburudhoo","Vaikaradhoo","Nolhivaranfaru","Finey","Faridhoo","Kulhudhuffushi","Makunudhoo","Hanimaadhoo","Kumundhoo","Hirimaradhoo","Naivaadhoo","Nellaidhoo","Kumundhoo","Neykurendhoo"],"HA":["Hirimaradhoo","Maarandhoo","Uligan","Muraidhoo","Kelaa","Molhadhoo","Filladhoo","Vashafaru","Thuraakunu","Utheemu","Thakandhoo","Ihavandhoo","Hoarafushi","Baarah","Dhidhdhoo"],"GN":["Fuvahmulaku","Fuvahmulah"],"GA":["Dhiyadhoo","Kondey","Dhevvadhoo","Nilandhoo","Kanduhulhudhoo","Dhaandhoo","Maamendhoo","Gemanafushi","Vilingili","Kolamaafushi"],"F":["Dharanboodhoo","Bilehdhoo","Maaenboodhoo","Feeali","Vaani","Magoodhoo","Biledhdhoo","Nilandhoo"],"DH":["Vaani","Kudahuvadhoo","Kihaadhoo","Maaenboodhoo","Meedhoo","Bandidhoo","Rinbudhoo","Hulhudheli"],"B":["Kihaadhoo","Maalhos","Kamadhoo","Kudarikilu","Goidhoo","Eydhafushi","Dhonfan","Kendhoo","Dharavandhoo","Thulhaadhoo","Hithaadhoo","Fehendhoo","Fulhadhoo"],"GDH":["Hoadehdhoo","Vaadhoo","Faresmaathodaa","Nadellaa","Gadhdhoo","Fiyoaree","Madaveli","Rathafandhoo","Thinadhoo","Hoandedhdhoo"],"ADH":["Hangnaameedhoo","Dhidhdhoo","Mandhoo","Dhigurah","Maamigili","Kunburudhoo","Omadhoo","Dhangethi","Mahibadhoo","Fenfushi","Hagnameedhoo"],"V":["Thinadhoo","Rakeedhoo","Fulidhoo","Keyodhoo","Felidhoo"],"SH":["Narudhoo","Maaungoodhoo","Feevah","Foakaidhoo","Maroshi","Goidhoo","Lhaimagu","Kanditheemu","Komandoo","Feydhoo","Funadhoo","Noomaraa","Bilehfahi","Milandhoo"],"M":["Raiymandhoo","Kolhufushi","Naalaafushi","Muli","Dhiggaru","Veyvah","Maduvvari","Mulah"],"N":["Kudafari","Maafaru","Landhoo","Magoodhoo","Maalhendhoo","Manadhoo","Kendhikulhudhoo","Fodhdhoo","Lhohi","Henbadhoo","Miladhoo","Velidhoo","Holhudhoo"],"L":["Maabaidhoo","Hithadhoo","Dhanbidhoo","Kalaidhoo","Mundoo","Maavah","Fonadhoo","Maamendhoo","Gan","Gaadhoo","Kunahandhoo","Isdhoo"],"K":["Gaafaru","Huraa","Guraidhoo","Gulhi","Kaashidhoo","Hinmafushi","Dhiffushi","Maafushi","Thulusdhoo","Male"],"AA":["Bodufolhudhoo","Feridhoo","Ukulhas","Rasdhoo","Maalhos","Thoddoo","Mathiveri","Himandhoo"],"LH":["Hinnavaru","Naifaru","Olhuvelifushi","Kurendhooabhareege","Kurendhoo"],"S":["Meedhoo","Hithadhoo","Feydhoo","Maradhoo","Hulhudhoo"]};
			$("body").on('change','#change-atoll', function(){
				var atoll = $(this).val();
				if(atoll == "All"){
					$("#change-island").parent().hide();
					return;
				}
				$("#change-island").parent().show();
				var html = islands[atoll].map(function(e){
					return "<option value='"+atoll+ " " + e +"'>" + e + "</option>";
				}).join('');
				$("#change-island").html(html);
			});
			$("#change-atoll").trigger('change');
			$("body").on('click', '.save-person-data', function(){
				var self = $(this);
				var data = {
					remarks: self.parent().parent().find('.person-data-remarks').val(),
					party: self.parent().parent().find('.person-data-party label.active').text()
				}
				$.post('/voters/' + self.attr('data-id'), data);
			})
		})