extends layout

block content
	script window.template = "voterslist";
	h1 Search for people
	h6 Limited for 3 people per search (20 in full version)
	img(src="/images/load.gif")#load
	br
	section.row
		section.col-md-3.col-xs-12
			input(type='text', placeholder="Search by name, id, address").form-control#voter-constituency-search
	br
	table.table.table-bordered.sortable#voters-listing